<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/index.css">
    <title>SocGroups</title>
</head>

<body>

    <main>
        <div class="headcard">
            <!-- <nav>
                <div class="blue nav-wrapper z-depth-1"
                    style="padding: 0px 0px 15px 15px; background-color: blue; background-image: linear-gradient(to bottom right, #140078 ,#8559da);">
                    <a href="index.html" class="brand-logo">SocGroups</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="register.html">Sign up</a></li>
                        <li><a href="login.html">Sign in</a></li>
                    </ul>
                </div>
            </nav> -->
            <div class="row col s6 m6 offset s6 nav-wrapper">
                <ul class="right hide-on-med-and-down" style="float: right; margin: 10px;">
                    <li style="float: right; margin: 20px;"><a href="login.html" style="color:white;">Sign in</a></li>
                    <li style="float: right; margin: 20px;"><a href="register.html" style="color:white;">Sign up</a>
                    </li>
                </ul>
            </div>
            <div class="row" style="padding:20px; padding-bottom:50px;">
                <p style="font-size: 70px; margin: 20px;" class="row left col s5 m3 ">SocGroups
                </p>
                <p class="row col s2"></p>
                <p style="font-size: 20px; margin:30px;" class="row right col s5 ">A society
                    management application that brings communities closer and aids home security</p>
            </div>
        </div>
        <div style="margin-left:5%; margin-right:5%;">
            <center>
                <div class="row">
                    <div class="promocard card col s4 ">
                        <p class="promotext">Connect with your community</p>
                        <i class="large material-icons deep-purple-text ">people</i>
                    </div>
                    <div class="promocard card col s4">
                        <p class="promotext">Start a discussion</p>
                        <i class="large material-icons deep-purple-text ">question_answer</i>
                    </div>
                    <div class="promocard card col s4">
                        <p class="promotext">Stay secure</p>
                        <i class="large material-icons deep-purple-text ">verified_user</i>
                    </div>
                </div>
            </center>
        </div>

    </main>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <script type="text/javascript" src="static/js/index.js"></script>
</body>

</html>