<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/index.css">
    <title>SocGroups</title>
</head>

<body>
    <nav>
        <div class="purple darken-4 nav-wrapper z-depth-1" style="padding: 0px 0px 15px 15px;">
            <a href="index.html" class="brand-logo">SocGroups</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="register.html">Sign up</a></li>
                <li><a href="login.html">Sign in</a></li>
                <!-- <li><a href="#">JavaScript</a></li> -->
            </ul>
        </div>
    </nav>
    <main>
        <!-- <div> -->
        <div class="row deep-purple darken-1">
            <p style="padding: 50px 50px 50px 50px; margin: 18px; font-size: 70px; color: white;" class="row left col s5">SocGroups
            </p>
            <!-- <p class="row col s2"></p> -->
            <p style="padding: 70px 50px 50px 50px; margin: 30px; font-size: 20px; color: white;" class="row right col s6">A society
                management application that brings communities closer and aids home security</p>
        </div>
        <!-- </div> -->
        <!-- <div class="container"> -->

        <div class="row">
            <center>
                <div class="promocard card col s4">
                    <p class="promotext">Connect with your community</p>
                    <i class="large material-icons deep-purple-text ">people</i>

                </div>
                <div class="promocard card col s4">
                    <p class="promotext">Start a discussion</p>
                    <i class="large material-icons deep-purple-text ">question_answer</i>

                </div>
                <div class="promocard card col s4">
                    <p class="promotext">Stay secure</p>
                    <i class="large material-icons deep-purple-text ">verified_user</i>

                </div>
            </center>
        </div>
        <!-- </div> -->
    </main>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <script type="text/javascript" src="static/js/index.js"></script>
</body>

</html>