.etext{
    color: #23416B;
}

.tileitem{
    background-color: #E2EAEF !important;
}


.sidebar{
    background-color: #E2EAEF;
}

.btn{
    background-image: linear-gradient(to bottom right,#23416b,#b04276);
}