body{
    background-color:white;
}

p.promotext{
    font-size: 20px;
    color: blueviolet;
    padding: 10px;
}

.promocard{
    /* margin: 1px; */
    /* padding: 20px; */
    background-color: #f8fdff;
}

.headcard{
    /* padding: 50px 50px 50px 50px;  */
    /* margin: auto;  */
    /* background-color: #512da9; */
    /* background-image: linear-gradient(to bottom right, #512da9,#c5cae9 ); */
    /* font-size: 70px;  */
    background-image: linear-gradient(to bottom right, #140078 ,#8559da);
    color: white;
}

.page-footer{
    background-color: #9499b7;
    padding: 1em;
}

.page-footer ul{
    margin: 20px;
}

.page-footer a{
    color: white;
    text-decoration: none;
}