body{
    background-color:white;
}

.promotext{
    color: #23416B;
    padding: 10px;
    margin: 0px 30px;
}

h5.promotext{
    font-size: 22px;
}

h6.promotext{
    /* color: #1B1C1D; */
    margin: 2vh 5vh;
}


.promocard{
    /* margin: 1px; */
    /* padding: 20px; */
    background-color: #f8fdff;
    padding: 10vh 10vw;
}

.headcard{
    /* padding: 50px 50px 50px 50px;  */
    /* margin: auto;  */
    /* background-image: linear-gradient(to bottom right, #512da9,#c5cae9 ); */
    /* font-size: 70px;  */
    background-image: linear-gradient(to bottom right, #23416B ,#B04276) !important;
    color: white;
}

.page-footer{
    background-color: black;
    padding: 1em;
}

.page-footer ul{
    margin: 20px;
}

.page-footer a{
    color: white;
    text-decoration: none;
}
.btn{
    background-image: linear-gradient(to bottom right,#23416b,#b04276);
}
