body{
    background-color:white;
}

.promotext{
    color: #512da9;
    padding: 10px;
    margin: 0px 30px;
}

h5.promotext{
    font-size: 22px;
}

h6.promotext{
    /* color: #1B1C1D; */
    margin: 2vh 5vh;
}


.promocard{
    /* margin: 1px; */
    /* padding: 20px; */
    background-color: #f8fdff;
    padding: 10vh 10vw;
}

.headcard{
    /* padding: 50px 50px 50px 50px;  */
    /* margin: auto;  */
    background-color: #512da9;
    /* background-image: linear-gradient(to bottom right, #512da9,#c5cae9 ); */
    /* font-size: 70px;  */
    /* background-image: linear-gradient(to bottom right, #140078 ,#B04276); */
    color: white;
    animation-name: bgcolor;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;

}

.page-footer{
    background-color: #1B1C1D;
    padding: 1em;
}

.page-footer ul{
    margin: 20px;
}

.page-footer a{
    color: white;
    text-decoration: none;
}

@keyframes bgcolor {
    0% {background-image: linear-gradient(to bottom right, #140078 ,#B04276);}
    25% {background-image: linear-gradient(to bottom right,  #B04276, #140078 , #B04276);}
    50% {background-image: linear-gradient(to bottom right, #140078 , #B04276, #140078);}
    75% {background-image: linear-gradient(to bottom right, #B04276,#140078 ,#B04276);}
    100% {background-image: linear-gradient(to bottom right, #140078 ,#B04276);}
  }

  /* @-webkit-keyframes bgcolor {
    from {background-color: red;}
    to {background-color: yellow;}
  } */