body {
    display: flex;
    align-items: center;
}

.container {
    overflow: hidden;
    position: relative;
}

.login-card {
    background-color: #ffffff;
    display: flex;
    margin: auto;
    padding: 10px 48px 0px 48px;
    box-shadow: 0 0 5px 5px rgba(84, 2, 161, 0.178);
    border-radius: 1vw;
}

.register-card {
    background-color: #ffffff;
    display: flex;
    margin: auto;
    padding: 10px 48px 0px 48px;
    box-shadow: 0 0 5px 5px rgba(84, 2, 161, 0.178);
    border-radius: 1vw;
}

.main-card {
    display: inline-block;
    margin: auto;
    padding: 32px 48px 0px 48px;
    /* background-image: linear-gradient(to bottom right, #140078,#8559da  );*/
    background-image: linear-gradient(to bottom right,#23416B,#B04276) ;
    border-radius: 1vw;
}

.tabs {
    background-color: transparent;
}

input:focus + label{
    color: #6a1b9a !important;
}

.row input:focus{
    border-bottom: 1px solid #6a1b9a !important;
    box-shadow: 0 1px 0 0 #6a1b9a !important
}
