body {
    /* background: #1f253d; */
}

.main-container {
    width: 98%;
    margin: auto;
    margin-top: 1%;
}

nav {
    background: #394264;
    border-radius: 5px;
    padding-left: 1%;
    padding-right: 1%;
    margin-bottom: 1%;
}


.nav-button {
    color: white;
    font-size: 18px;
    display: block;
    -webkit-transition: background .3s;
    transition: background .3s;
}

.nav-button:hover {
    background: #50597b;
    border-bottom: 4px solid #11a8ab;
    text-decoration: none;
}

.notif-number {
    position: relative;
    padding: 0 5px;
    font-weight: 700;
    background: #50597b;
    border-radius: 100%;
    bottom: 8px;
    font-size: 15px;
    /* -webkit-transition: all .3s linear;
    transition: all .3s linear; */
}

.nav-button:hover .notif-number {
    background: #e64c65;
}

.card {
    border-radius: 5px;
    background: transparent;
}

.card-header {
    display: block;
    text-align: center;
    color: white;
    background: #B04276;
    font-weight: bolder;
    font-size: 20px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    line-height: 50px;
    height: 50px;
    margin-bottom: 0%;
}

.notif-menu {
    margin-top: 0%;
}

.notif-menu-item {
    display: block;
    text-align: center;
    background: #394264;
    margin-top: 0.5%;
    color: white;
    font-size: 20px;
    line-height: 50px;
    height: 50px;
}

.notif-menu-item:hover {
    background: #50597b;
    text-decoration: none;
}

.notif-menu-item:hover .notif-number {
    background: #B04276;
}

.profile {
    background: #394264;
}

.profile-picture img{
    margin-top: 1%;
    display: block;
    border-radius: 100%;
    align-items: center;
}

.profile-info {
    padding: 1%;
}

.profile-name {
    text-align: left;
    color: white;
    font-size: 40px;
    font-weight: bolder;
}

.profile-tag {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.profile-tag-info {
    color: white;
    font-size: 18px;
}

.notices-header {
    display: block;
    text-align: center;
    color: white;
    background: #35aadc;
    font-weight: bolder;
    font-size: 20px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    line-height: 50px;
    height: 50px;
    margin-bottom: 0%;
}

.notice-menu-item {
    display: block;
    padding: 1%;
    text-align: left;
    background: #394264;
    margin-top: 0.5%;
    color: white;
    font-size: 16px;
}


.notice-date {
    color: #8893b9;
}

.notice-reply{
    display: block;
    padding: 1%;
    text-align: left;
    background: #4b598a;
    margin-top: 0.5%;
    color: white;
    font-size: 16px;
    text-overflow: ellipsis;
}

.btn{
    background-image: linear-gradient(to bottom right,#23416b,#b04276);
}